<h1 align="center">Listing all users ...</h1>

<p><%= link_to "Create New User", new_user_path %></p>

 <% @userdetials.each do |details| %>
 <div class:"col-xs-8 col-xs-offset-2">
     <div class="well well-lg">
             <div class="article-title">
                    <%= link_to details.username, user_path(details)%></td>
             </div>
             <div class="article-boby">
                 

                 <%= details.email %> |
                 <%= details.password %>
                 
             
    
                <div class="article-actions">
        
                    <%= link_to "Edit details" , edit_user_path(details), class: "btn btn-xs btn-success"%>
                    <%= link_to "Delete this article" , user_path(details),method: :delete, data: {confirm: "Are you sure.."}, class: "btn btn-xs btn-danger" %> 
                    
                </div>
            </div>
        
     </div>
     
 </div>
 
 <% end %>
    



